#设置 Git 忽略文件内容，更好管理项目。
#适用于 Java 项目，尤其是 IDEA 作为开发工具的项目
#适用于 Windows 和 Mac 两个操作系统的协同操作
#适用于 Maven 构建的项目，自动忽略 .mvn、mvnw 文件
#参考：https://juejin.cn/post/6850418110529470477




### Windows template[Begin] ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.ms
*.msm
*.msp

# Windows shortcuts
*.lnk
### Windows template[End] ###




### OSX template[Begin] ###
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
### OSX template[End] ###




### Eclipse template[Begin] ###
/.settings/
/bin/
/tmp/
*.tmp
*.bak
*.swp
*~.nib
.metadata
local.properties
.loadpath
.recommenders

# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### this project[Begin] ###
/target/
*.project
*.prefs
### this project[End] ###

# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# PyDev specific (Python IDE for Eclipse)
*.pydevproject
# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath
# PDT-specific (PHP Development Tools)
.buildpath
# sbteclipse plugin
.target
# Tern plugin
.tern-project
# TeXlipse plugin
.texlipse
# STS (Spring Tool Suite)
.springBeans
# Code Recommenders
.recommenders/
### Eclipse template[End] ###




### IntelliJ project files[Begin] ###
/.idea/
/out/
*.iml
*.ipr
*.iws
gen
### IntelliJ project files[End] ###




### VS Code ###
/.vscode/




### Java template[Begin] ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Java template[End] ###


### project log files[Begin] ###
log
*.log
### project log files[End] ###


### mvn ###
.mvn
mvnw
mvnw.cmd